
<div class="container">
    <p id="notice"><%= notice %></p>
    <h2>
        <%= @task.name%>
    </h2>
    <% if @task.body != nil %>
    <p><strong>DETAILS: </strong></p>
    <p><%= @task.body%></p>
    <% end %>
    <p><strong>DUE DATE: </strong> <%= @task.task_date%></p>


    <p class="cta"><%= link_to 'Edit', edit_category_task_path(@category,@task) %></p>
    <p><%= link_to 'Back', category_path(@category) %></p>
</div>