<div class="container">

    <h2>
        <%= @category.name%>
    </h2>

    <br>
    <br>

    <p id="notice"><%= notice %></p>

    <% if @urgent_tasks.count != 0 %>
        <div class="active-task-container">
        <%= render "tasks/index", title: 'Tasks Today', tasks: @urgent_tasks %>
        </div>
    <% end %>

    <%= render "tasks/index", title: 'Non-urgent Tasks', tasks: @non_urgent_tasks %>

    <% if @tasks.count == 0 %>
        <p>You currently have no task.</p>
    <% end %>

    <p class="cta">
    <%= link_to 'New Task', new_category_task_path(@category.id) %>
    </p>
    <p><%= link_to "Back", categories_path %></p>

</div>